# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# VSCode
.vscode/

# Python packaging
build/
dist/
*.egg-info/

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Excel temporary files
~$*.xls*
*.tmp

# Excel autosave
*.xlk

# Office temp
~$*